


/***************************************************************************************
Altis at Sandlake page styling
***************************************************************************************/



.container-fluid {
  padding-left: 0;
  padding-right: 0;
}
.sea-isle-container {
  padding-left: 0;
  padding-right: 0;
}
.row {
  margin-left: 0;
}

li {
  list-style: none;
}

.arrow {
  color: #FFF;
  padding-left: 8px;
}

.page-container {
  padding: 0;
}


/** Project Title **/
.altis-title {
  display: inline-block;
  margin-right: 45px;
}
.project-nav {
  height: 50px;
}
.image-links {
  display: inline;
}
.altis-list-item {
  display: inline-block;
  margin-left: 10px;
  cursor: pointer;
}
.sandlake-one {
  display: inline-block;
  border: 1px solid #FFF;
  height: 20px;
  width: 20px;
}
.sandlake-one:hover {
  height: 20px;
  width: 20px;
  background-color: #FADCAE;
}
.sandlake-two {
  display: inline-block;
  border: 1px solid #FFF;
  height: 20px;
  width: 20px;
}
.sandlake-two:hover {
  height: 20px;
  width: 20px;
  background-color: #AFB38A;
}
.sandlake-three {
  display: inline-block;
  border: 1px solid #FFF;
  height: 20px;
  width: 20px;
}
.sandlake-three:hover {
  height: 20px;
  width: 20px;
  background-color: #E1D6CC;
}
.sandlake-four {
  display: inline-block;
  border: 1px solid #FFF;
  height: 20px;
  width: 20px;
}
.sandlake-four:hover {
  height: 20px;
  width: 20px;
  background-color: #A76459;
}
.image-nav {
  height: 20px;
  width: 20px;
  border: 1px solid #FFF;
}


/** Project Write Up Section **/
.writeup {
  position: fixed;
  top: 20px;
  width: 500px;
  height: 85px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: -5px;
  background-color: rgba(0, 0, 0, 0.7);
  color: #FFF;
  font-family: 'Poppins', serif;
  font-weight: 300;
}
.writeup h2 {
  margin-top: 10px;
}
.writeup p {
  display: inline;
}
.altis-click-event {
  display: inline-block;
  margin-left: 240px;
}
.info {
  display: inline-block;
  margin-left: 146px;
}
.glyphicon {
  display: inline-block;
  position: relative;
  top: 2px;
  margin-left: 10px;
}

.summary-container {
  padding-left: 15px;
  padding-right: 18px;
  padding-top: 15px;
  padding-bottom: 15px;
}

#altis-summary {
  display: none;
  width: 500px;
  height: 400px;
  background-color: rgba(0, 0, 0, 0.7);
  color: #FFF;
  font-family: 'Poppins', serif;
  font-weight: 300;
  transition: ease-in;
  overflow-y: scroll;
}
.project-type {
  margin-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}
.client-type {
  margin-bottom: 15px;
  padding-left: 10px;
  padding-right: 10px;
}
.design-team {
  padding-left: 10px;
  padding-right: 10px;
}
.project-services {
  padding-left: 10px;
  padding-right: 10px;
}
.project-summary {
  padding-left: 10px;
  padding-right: 10px;
}

#sandlake-one {
  background-image: url('../../images/1-altis-sandlake.png');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 620px;
}
#sandlake-two {
  background-image: url('../../images/2-altis-sandlake.png');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 620px;
}
#sandlake-three {
  background-image: url('../../images/3-altis-sandlake.png');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 620px;
}
#sandlake-four {
  background-image: url('../../images/4-altis-sandlake.png');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 620px;
}







/***************************************************************************************
Altis at Sandlake page styling
***************************************************************************************/




/**************************************************************************************
MEDIA QUERIES
**************************************************************************************/



@media(max-height: 1920px) and (max-width: 2460px) and (min-width: 1441px) {

  #sandlake-one {
    height: 1080px;
  }

  #sandlake-two {
    height: 1080px;
  }

  #sandlake-three {
    height: 1080px;
  }

  #sandlake-four {
    height: 1080px;
  }

  #plaza-summary {
    height: 615px;
  }

  .summary-container {
    overflow-y: none;
    height: 620px;
  }

  #site-nav {
    top: 830px;
  }

  .landing {
    margin-left: 60%;
  }

}

@media(max-height: 1079px) and (min-height: 610px) and (max-width: 1440px) and (min-width: 1261px) {

  #sandlake-one {
    height: 630px;
  }

  #sandlake-two {
    height: 630px;
  }

  #sandlake-three {
    height: 630px;
  }

  #sandlake-four {
    height: 630px;
  }

  #site-nav {
    top: 520px;
  }

  .landing {
    margin-left: 50%;
  }

}



/**************************************************************************************
MEDIA QUERIES
**************************************************************************************/




/*********************************************************************
Navigation
*********************************************************************/



.container-fluid {
  padding: 0;
}

.row {
  margin-left: 0;
}



#site-nav {
  position: fixed;
  width: 100%;
  /*z-index: 10;*/
}


.nav-items {
  background-color: rgba(0, 0, 0, 0.7);
  display: inline-block;
  width: 100%;
  height: 55px;
  padding: 0;
  margin: 0;
}

.nav-items a {
  text-decoration: none;
  font-family: 'Poppins', serif;
  font-size: 20px;
}

.logo {
  height: 113px;
  padding: 0;
  display: inline-block;
  margin-left: 50px;
  position: absolute;
  top: -19px;
}

.overview {
  color: #fff;
  margin-left: 140px;
  display: inline-block;
  padding-top: 15px;
  padding-bottom: 12px;
  padding-left: 10px;
  padding-right: 10px;
  position: relative;
}

.overview:hover {
  color: #000;
  background-color: #AFB38A;
  background-size: contain;
}

.projects {
  color: #000;
  background-color: #E1D6CC;
  display: inline-block;
  padding-top: 15px;
  padding-bottom: 12px;
  padding-left: 10px;
  padding-right: 10px;
  position: relative;
}

.projects:hover {
  color: #000;
  background-color: #E1D6CC;
  background-size: contain;
}

.studio {
  color: #FFF;
  display: inline-block;
  padding-top: 15px;
  padding-bottom: 12px;
  padding-left: 10px;
  padding-right: 10px;
  position: relative;
}

.studio:hover {
  color: #000;
  background-color: #F9DBAE;
  background-size: contain;
}

.contact {
  color: #FFF;
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  position: relative;
  padding-top: 15px;
  padding-bottom: 12px;
}

.contact:hover {
  color: #FFF;
  background-color: #A66459;
  background-size: contain;
}

.landing {
  color: #FFF;
  display: inline-block;
  position: relative;
  top: 7px;
}

.landing:hover {
  color: #F9DBAE;
}



/*********************************************************************
Navigation
*********************************************************************/
