


h1 {
  color: red;
}








/*********************************************************************************************
Projects Page
*********************************************************************************************/


h1 {
  color: red;
}

body {
  color: black;
}

li {
  list-style: none;
}





/***********************************************************************************************
Projects Page
***********************************************************************************************/




body {
  background-color: #2E2E2E;
  height: 100%;
  padding: 0px;
  margin: 0px;
}

.project-one-container {
  margin-top: 40px;
  // padding-left: 10px;
  // padding-right: 10px;
}

.page-background {
  background: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), url('../images/background-bench.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: fixed;
}



/*************************************************************
Plaza at University
*************************************************************/

.plaza-landing {
  /*// width: 200px;
  // height: 200px;
  // background-image: url('../images/1-plaza.jpg');
  // background-size: cover;
  // background-position: 50% 50%;
  // color: #fff;*/
  /*/ margin-right: 10px;*/
  margin-bottom: 10px;
  /*// padding: 0;*/
}
.plaza-landing a {
  text-decoration: none;
  color: #FFF;
}
.plaza-landing h3 {
  font-family: 'Poppins', serif;
  font-size: 20px;
  font-weight: 200;
  padding-top: 10px;
  padding-left: 10px;
}
.plaza-landing p {
  font-family: 'Poppins', serif;
  font-size: 13px;
  font-weight: 200;
  padding-left: 10px;
}

.top {
  width: 250px;
}

.hover-effect-2 {
  position: relative;
  width: 250px;
  height: 167px;
  overflow: hidden;
  float: left;
  background-color: rgba(0, 0, 0, 0.75);
}
.hover-effect-2 p, .hover-effect-2 h3 {
  color: #FFF;
  padding: 2px;
  left: -20px;
  top: 2px;
  position: relative;
}
.effect img {
  position:absolute;
  left:0;
  bottom:0;
  cursor:pointer;
  /*// margin:-12px 0;*/
  -webkit-transition:bottom .3s ease-in-out;
  -moz-transition:bottom .3s ease-in-out;
  -o-transition:bottom .3s ease-in-out;
  transition:bottom .3s ease-in-out
}
.effect img.top:hover {
  bottom: -108px;
  padding-top: 100px;
}
h2.zero, p.zero {
  margin: 0;
  padding: 0;
}



/*************************************************************
Nona Park Landing
*************************************************************/

.nonapark-landing {
  /*// width: 200px;
  // height: 200px;
  // // background-image: url('../images/5-nona-park-village.jpg');
  // // background-size: cover;
  // // background-position: 50% 50%;
  // display: inline-block;
  // margin-right: 10px;*/
  margin-bottom: 10px;
  color: #FADCAE;
}
.nonapark-thumbnail {
  /*// width: 200px;
  // height: 200px;
  // display: inline-block;
  // position: relative;
  // z-index: 10;
  // margin: -15px 0;*/
}
.nonapark-landing a {
  text-decoration: none;
  color: #FADCAE;
}
.nonapark-landing h3 {
  font-family: 'Poppins', serif;
  font-size: 20px;
  font-weight: 200;
  padding-top: 5px;
  padding-left: 5px;
}
.nonapark-landing p {
  font-family: 'Poppins', serif;
  font-size: 13px;
  font-weight: 200;
  padding-left: 5px;
  padding-top: -3px;
}




/*************************************************************
Kindred
*************************************************************/

.kindred-writeup {
  /*// width: 200px;
  // height: 200px;
  // background-image: url('../images/emily-concept-1.jpg');
  // background-size: cover;
  // background-position: 50% 50%;
  // display: inline-block;*/
  border-radius: 15px;
  margin-bottom: 10px;
  color: #FADCAE;

}
.kindred-writeup a {
  text-decoration: none;
  color: #FADCAE;
}

.transparent-background {
  height: 200px;
  width: 200px;
  border-radius: 15px;
  background-color: rgba( 0, 0, 0, 0.4);
  position: relative;
  bottom: 20px;
  right: 15px;
  -webkit-box-shadow: 0px 0px 20px -2px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 20px -2px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 20px -2px rgba(0,0,0,0.85);
}

.kindred-writeup h3 {
  font-family: 'Poppins', serif;
  font-size: 20px;
  font-weight: 200;
  padding-left: 5px;
  padding-top: 5px;
}
.kindred-writeup p {
  font-family: 'Poppins', serif;
  font-size: 13px;
  font-weight: 200;
  padding-left: 5px;
}


/*************************************************************
Waterleigh
*************************************************************/

.waterleigh-landing {
  /*// width: 200px;
  // height: 200px;
  // background-image: url('../images/emily-concept-2.jpg');
  // background-size: cover;
  // background-position: 50% 50%;
  // display: inline-block;
  // margin-right: 40px;*/
  margin-bottom: 10px;
  color: #FADCAE;
}
.waterleigh-landing a {
  text-decoration: none;
  color: #FADCAE;
}
.waterleigh-landing h3 {
  font-family: 'Poppins', serif;
  font-size: 20px;
  font-weight: 200;
  padding-left: 5px;
  padding-top: 5px;
}
.waterleigh-landing p {
  font-family: 'Poppins', serif;
  font-size: 13px;
  font-weight: 200;
  padding-left: 5px;
}



/*************************************************************
Sea Isle
*************************************************************/

.seaisle-landing {
  /*// width: 200px;
  // height: 200px;
  // background-image: url('../images/tn-sea-isle.jpg');
  // background-size: cover;
  // background-position: 50% 50%;
  // color: #fff;
  // margin-right: 10px;*/
  margin-bottom: 10px;
}
.seaisle-landing a {
  text-decoration: none;
  color: #FADCAE;
}
.seaisle-landing h3 {
  font-family: 'Poppins', serif;
  font-size: 20px;
  font-weight: 200;
  padding-top: 5px;
  padding-left: 5px;
}
.seaisle-landing p {
  font-family: 'Poppins', serif;
  font-size: 13px;
  font-weight: 200;
  padding-left: 5px;
}


/*************************************************************
Altis at Sandlake
*************************************************************/

.altis-landing {
  /*// width: 200px;
  // height: 200px;
  // background-image: url('../images/emily-concept-3.jpg');
  // background-size: cover;
  // background-position: 50% 50%;
  // color: #fff;
  // margin-right: 40px;*/
  margin-bottom: 10px;
}
.altis-landing a {
  text-decoration: none;
  color: #FADCAE;
}
.altis-landing h3 {
  font-family: 'Poppins', serif;
  font-size: 20px;
  font-weight: 200;
  padding-top: 5px;
  padding-left: 5px;
}
.altis-landing p {
  font-family: 'Poppins', serif;
  font-size: 13px;
  font-weight: 200;
  padding-left: 5px;
}


/*************************************************************
Dwell at Nona Place
*************************************************************/

.dwell-landing {
  /*// width: 200px;
  // height: 200px;
  // background-image: url('../images/emily-concept-4.jpg');
  // background-size: cover;
  // background-position: 50% 50%;
  // color: #fff;
  // margin-right: 40px;*/
  margin-bottom: 10px;
}
.dwell-landing a {
  text-decoration: none;
  color: #FADCAE;
}
.dwell-landing h3 {
  font-family: 'Poppins', serif;
  font-size: 20px;
  font-weight: 200;
  padding-top: 5px;
  padding-left: 5px;
}
.dwell-landing p {
  font-family: 'Poppins', serif;
  font-size: 13px;
  font-weight: 200;
  padding-left: 5px;
}





/*************************************************************
Las Ventanas
*************************************************************/




.ventanas-landing {
  margin-bottom: 10px;
}

.ventanas-landing a {
  text-decoration: none;
  color: #FADCAE;
}
.ventanas-landing h3 {
  font-family: "Poppins", serif;
  font-size: 20px;
  font-weight: 200;
  padding-top: 5px;
  padding-left: 5px;
}
.ventanas-landing p {
  font-family: "Poppins", serif;
  font-size: 13px;
  font-weight: 200;
  padding-left: 5px;
}




/*************************************************************
Las Brisas
*************************************************************/




.brisas-landing {
  margin-bottom: 50px;
}

.brisas-landing a {
  text-decoration: none;
  color: #FADCAE;
}
.brisas-landing h3 {
  font-family: "Poppins", serif;
  font-size: 20px;
  font-weight: 200;
  padding-top: 5px;
  padding-left: 5px;
}
.brisas-landing p {
  font-family: "Poppins", serif;
  font-size: 13px;
  font-weight: 200;
  padding-left: 5px;
}




/***********************************************************************************************
Projects Page Media Queries
***********************************************************************************************/




/*********************************************************************************************
Projects Page
*********************************************************************************************/




/*********************************************************************
Navigation
*********************************************************************/



.container-fluid {
  padding: 0;
}

.row {
  margin-left: 0;
}



#site-nav {
  position: fixed;
  top: 520px;
  width: 100%;
  /*z-index: 10;*/
}


.nav-items {
  background-color: rgba(0, 0, 0, 0.7);
  display: inline-block;
  width: 100%;
  height: 55px;
  padding: 0;
  margin: 0;
}

.nav-items a {
  text-decoration: none;
  font-family: 'Poppins', serif;
  font-size: 20px;
}

.logo {
  height: 117px;
  padding: 0;
  display: inline-block;
  margin-left: 50px;
  position: absolute;
  top: -20px;
}

.overview {
  color: #fff;
  margin-left: 140px;
  display: inline-block;
  padding-top: 15px;
  padding-bottom: 12px;
  padding-left: 10px;
  padding-right: 10px;
  position: relative;
}

.overview:hover {
  color: #000;
  background-color: #AFB38A;
  background-size: contain;
}

.projects {
  color: #000;
  background-color: #E1D6CC;
  display: inline-block;
  padding-top: 15px;
  padding-bottom: 12px;
  padding-left: 10px;
  padding-right: 10px;
  position: relative;
}

.projects:hover {
  color: #000;
  background-color: #E1D6CC;
  background-size: contain;
}

.studio {
  color: #FFF;
  display: inline-block;
  padding-top: 15px;
  padding-bottom: 12px;
  padding-left: 10px;
  padding-right: 10px;
  position: relative;
}

.studio:hover {
  color: #000;
  background-color: #F9DBAE;
  background-size: contain;
}

.contact {
  color: #FFF;
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  position: relative;
  padding-top: 15px;
  padding-bottom: 12px;
}

.contact:hover {
  color: #FFF;
  background-color: #A66459;
  background-size: contain;
}

.landing {
  color: #FFF;
  display: inline-block;
  margin-left: 50%;
  position: relative;
  top: 7px;
}

.landing:hover {
  color: #F9DBAE;
}



/*********************************************************************
Navigation
*********************************************************************/
