


/***********************************************************************************************
Landing Page
***********************************************************************************************/


.container-fluid {
  padding: 0;
}

.row {
  margin-left: 0;
}

img {
  max-width: 100%;
}

li {
  list-style: none;
}


/****************************************************************
Unordered List Styling
****************************************************************/


.cd-slideshow,
.cd-slideshow:after {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: 0;
}

.cd-slideshow:after {
  content: '';
  background: -moz-linear-gradient(top,  rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6*/
  background: linear-gradient(to bottom,  rgba(0,0,0,0.3) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+,*/
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
}

.cd-slideshow li span {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  color: transparent;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: none;
  opacity: 0;
  z-index: 0;
  animation: imageAnimation 24s linear infinite 0s;
}

/*titles*/
.cd-slideshow li div {
  z-index: 100;
  position: absolute;
  bottom: 30px;
  left: 0px;
  width: 100%;
  text-align: center;
  opacity: 0;
  color: #fff;
  animation: titleAnimation 24s linear infinite 0s;
}
.cd-slideshow li div h3 {
  font-size: 100px;
  font-family: 'Poppins', serif;
  font-weight: 300;
  padding: 0;
  /*line-height: 400px;*/
}


/*Images*/
.cd-slideshow li:nth-child(1) span {
  background-image: url('images/environment-homepage.png');
}
.cd-slideshow li:nth-child(2) span {
  background-image: url('images/inspire-homepage.png');
  animation-delay: 6s;
}
.cd-slideshow li:nth-child(3) span {
  background-image: url('images/design-homepage.png');
  animation-delay: 12s;
}
.cd-slideshow li:nth-child(4) span {
  background-image: url('images/community-homepage.jpg');
  animation-delay: 18s;
}


/*titles*/
.cd-slideshow li:nth-child(2) div {
  animation-delay: 6s;
}
.cd-slideshow li:nth-child(3) div {
  animation-delay: 12s;
}
.cd-slideshow li:nth-child(4) div {
  animation-delay: 18s;
}


@keyframes imageAnimation {
  0% { opacity: 0; animation-timing-function: ease-in; }
  8% { opacity: 1; animation-timing-function: ease-out; }
  17% { opacity: 1 }
  25% { opacity: 0 }
  100% { opacity: 0 }
}

@keyframes titleAnimation {
  0% { opacity: 0 }
  8% { opacity: 1 }
  17% { opacity: 1 }
  19% { opacity: 0 }
  100% { opacity: 0 }
}



@media screen and (max-width: 1920px) and (min-width: 1640px) {

  .cd-slideshow li div h3 {
    line-height: 850px;
  }

  #site-nav {
    top: 830px;
  }

  .landing {
    margin-left: 60%;
  }

}

@media screen and (max-width: 1639px) and (min-width: 1441px){
  h3 {
    line-height: 850px;
  }
}

@media screen and (max-width: 1440px) and (min-width: 1281px){

  .cd-slideshow li div h3 {
    line-height: 500px;
  }

  #site-nav {
    top: 520px;
  }

  .landing {
    margin-left: 50%;
  }

}

@media screen and (max-width: 1280px) and (min-width: 1141px) {

  .cd-slideshow li div h3 {
    line-height: 450px;
  }

  #site-nav {
    top: 520px;
  }

  .landing {
    margin-left: 50%;
  }

}

@media screen and (max-width: 1140px) and (min-width: 1081px){
  .cd-slideshow li div h3 {
    font-size: 80px;
    position: absolute;
    bottom: 800px;
  }

  #site-nav {
    top: 520px;
  }

  .landing {
    margin-left: 50%;
  }
}

@media screen and (max-width: 1080px) and (min-width: 601px) {

  .cd-slideshow li div h3 {
    line-height: 500px;
  }

}

@media screen and (max-width: 600px) {
  .cd-slideshow li div h3 {
    font-size: 40px;

  }
}

@media screen and (max-width: 426px) and (min-width: 320px) {
  .cd-slideshow li div h3 {
    line-height: 500px;
    font-size: 40px;
  }
}



/**************************************************************************************
MEDIA QUERIES
**************************************************************************************/



@media(max-height: 1920px) and (max-width: 2460px) and (min-width: 1441px) {

  #site-nav {
    top: 830px;
  }

  .navbar {
    top: 830px;
  }

  .nav-items {
    width: 600px;
  }

  .landing {
    margin-left: 60%;
  }

  .logo {
    height: 113px;
    padding: 0;
    display: inline-block;
    margin-left: 50px;
    position: absolute;
    top: -19px;
  }

}

@media(max-height: 1079px) and (min-height: 610px) and (max-width: 1440px) and (min-width: 1261px) {

  #site-nav {
    top: 520px;
  }

  .nav-items {
    width: 600px;
  }

  .navbar {
    top: 520px;
  }

  .landing {
    margin-left: 50%;
  }

  .logo {
    height: 113px;
    padding: 0;
    display: inline-block;
    margin-left: 50px;
    position: absolute;
    top: -19px;
  }

}



/**************************************************************************************
MEDIA QUERIES
**************************************************************************************/



/**************************************************************************************
Mobile Navigation QUERIES
**************************************************************************************/




@media(max-width: 375px) and (min-width: 320px) {

  .navbar {
    position: relative;
    top: 0;
  }

  .fa-bars {

  }

  .navbar-toggle {
    margin-top: 10px;
    padding: 6px 10px;
    background-color: #FFF;
  }

  .logo {
    height: 85px;
    padding: 0;
    display: inline-block;
    margin-left: 275px;
    position: absolute;
    top: -8px;
  }

  .nav-items {
    width: 375px;
  }

  .navbar-default .navbar-nav>li>a.overview {
    background-color: #AFB38A;
    color: #000;
    margin-left: 0;
    text-align: center;
    width: 375px;
  }

  .navbar-default .navbar-nav>li>a.projects {
    background-color: #E1D6CC;
    color: #000;
    text-align: center;
  }

  .navbar-default .navbar-nav>li>a.studio {
    background-color: #A66459;
    color: #000;
    text-align: center;
  }

  .navbar-default .navbar-nav>li>a.contact {
    background-color: #F9DBAE;
    color: #000;
    text-align: center;
  }

  .navbar-default .navbar-nav>li>a.landing {
    background-color: rgba(0, 0, 0, 0.7);
    width: 375px;
    text-align: center;
    left: 15px;
  }

  #page-background {
    position: static;
    height: 780px;
  }

  .overview-title {
    position: relative;
    padding-top: 4px;
    top: 80px;
    width: 100%;
  }

  .studio-content-container {
    top: 150px;
  }

  .overview-statement {
    position: relative;
    top: 100px;
    width: 320px;
    height: 540px;
    margin-left: 7%;
  }



}




/**************************************************************************************
Mobile Navigation QUERIES
**************************************************************************************/





/*********************************************************************
Navigation
*********************************************************************/



.container-fluid {
  padding: 0;
}

.row {
  margin-left: 0;
}


.navbar-default {
  background-color: rgba(0, 0, 0, 0.7);
  border-color: rgba(0, 0, 0, 0.1);
}

.navbar-toggle {
  float: none;
}

.navbar {
  border-radius: 0px;
  position: fixed;
  width: 100%;
  height: 55px;
}

.navbar-default .navbar-nav>li>a {
  color: #FFF;
}

.navbar-default .navbar-nav>li>a.overview:hover {
  color: #000;
  background-color: #AFB38A;
  background-size: contain;
}

.navbar-default .navbar-nav>li>a.projects:hover {
  color: #000;
  background-color: #E1D6CC;
  background-size: contain;
}

.navbar-default .navbar-nav>li>a.studio:hover {
  color: #FFF;
  background-color: #A66459;
  background-size: contain;
}

.navbar-default .navbar-nav>li>a.contact:hover {
  color: #000;
  background-color: #F9DBAE;
  background-size: contain;
}

.navbar-default .navbar-nav>li>a.landing:hover {
  color: #F9DBAE;
}

.navbar-default .navbar-nav>.active>a {
  color: #000;
  background-color: #AFB38A;
}

.navbar-right {
  margin-right: 85px;
}



#site-nav {
  position: fixed;
  width: 100%;
  /*z-index: 10;*/
}


.nav-items {
  display: inline-block;

  height: 55px;
  padding: 0;
  margin: 0;
}

.nav-items li a {
  text-decoration: none;
  font-family: 'Poppins', serif;
  font-size: 20px;
  height: 55px;
  padding-top: 20px;
}


.nav-items {
  display: inline-block;
  height: 55px;
  padding: 0;
  margin: 0;
}

.nav-items a {
  text-decoration: none;
  font-family: 'Poppins', serif;
  font-size: 20px;
}

.overview {
  color: #000;
  margin-left: 140px;
  display: inline-block;
  padding-top: 15px;
  padding-bottom: 12px;
  padding-left: 10px;
  padding-right: 10px;
  position: relative;
  background-color: #AFB38A;
}

.overview:hover {
  color: #000;
  background-color: #AFB38A;
  background-size: contain;
}

.overview:active {
  color: #000;
  background-color: #AFB38A;
}

.projects {
  color: #fff;
  display: inline-block;
  padding-top: 15px;
  padding-bottom: 12px;
  padding-left: 10px;
  padding-right: 10px;
  position: relative;
}

.projects:hover {
  color: #000;
  background-color: #E1D6CC;
  background-size: contain;
}

.studio {
  color: #fff;
  display: inline-block;
  padding-top: 15px;
  padding-bottom: 12px;
  padding-left: 10px;
  padding-right: 10px;
  position: relative;
}

.studio:hover {
  color: #FFF;
  background-color: #A66459;
  background-size: contain;
}

.contact {
  color: #fff;
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  position: relative;
  padding-top: 15px;
  padding-bottom: 12px;
}

.contact:hover {
  color: #000;
  background-color: #F9DBAE;
  background-size: contain;
}

.landing {
  color: #fff;
  display: inline-block;
  position: relative;
}

.landing:hover {
  color: #F9DBAE;
}



/*********************************************************************
Navigation
*********************************************************************/
